.container {
    display: grid;
    grid-template-columns: 100px 300px auto 100px;
    grid-template-rows: 100px 80% 100px;
    gap: 10px;
}

.empty {

}

.element {
    border: 1px solid black;
}

.header {
    grid-column-end: span 2;
}

.footer {
    grid-column-end: span 2;
}