/* Desktop screens */
@media only screen and (min-width: 1024px) {
    /* 
        Flex with flow column and central alignment of items centers content horizontally on the page
    */
    body {
        font-family: monospace;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    /*
        Content width is set on one place, so header, main and footer can fill the whole width and be aligned
    */
    #content {
        width: 1000px;
    }

    /*
        Make all items (navigation and side pads) in the header centered vertically
    */
    header {
        display: flex;
        align-items: center;
    }

    /*
        flex-grow: 1; makes navigation occupy remaining space left from items around it that have fixed width
        justify-content: space-evenly; makes navigation items distribute evenly on x-axis
    */
    header nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
    }

    /*
        Make 2 elements that surround navigation have same size so that navigation is centered
    */
    .navigation-side {
        width: 50px;
    }

    /*
        Make a small space between hero image and header
    */
    .hero-image {
        margin-top: 1em;
    }

    /*
        Center article headlines
    */
    article h1 {
        text-align: center;
    }

    /*
        Make a small space between footer and the rest of the page
    */
    footer {
        margin-top: 3em;
    }

    /*
        Order footer items one below each other
    */
    footer ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0em;
    }

    /*
        Remove the ootb stylings of footer items
    */
    footer ul li {
        list-style: none;
    }

    /*
        Make some space between footer items
    */
    .footer-item {
        padding: 0 10px;
        border-left: 1px solid gray;
    }

    /*
        First footer item doesn't need border
    */
    .footer-item.footer-item__first {
        border: 0px;
    }

    /*
        Last footer item doesn't need right padding
    */
    .footer-item.footer-item__last {
        padding-right: 0px;
    }

    /*
        Copyright takes the remaining space in footer
    */
    #copyright {
        flex-grow: 1;
    }
}